body {
  font-family: serif;
  font: humanist;

}

div {
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.top-container {
  background-color: #dff3e3;
  width: 100%;

  /* IDEA: position: fixed; */
}

.middle-container {
  background-color: #f1ae89;
  height: 400px;
  width: 100%;
}

.bottom-container {
  background-color: #d68060;
  height: 400px;
  width: 100%;

}

.cloud1 {
  position: absolute;
  right: 520px;
  top: 180px;
}

.cloud2 {
  position: relative;
  bottom: 230px;
  left: 400px
}

.mountain {
  position: relative;
  bottom: 5px;
  left: 150px
}

.greetingcontainer {
  display: inline-block;
  position: relative;
  left: 450px;
  bottom: 150px;
  width: 150px;
}

.g1 {
  background-color: #d68060;
  padding-bottom: 10px;
}

.g2 {
  position: relative;
  left: 550px;
  top: 50px;
  font-size: 20px;
  font-weight:200;
  font-style: oblique;
  background-color: #f1ae89;
}

.subheading {
  border: 10px solid;
  display: inline;
  font-family: sans-serif;
  font-size: 30px;
}

.text {
  width: 300px;
  font-family: sans-serif;
  font: humanist;
  font-size: 20px;


}

.st1 {
  border-top: none;
  border-left: none;
  position: relative;
  left: 450px;
  top: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.t1 {
  position: relative;
  left: 800px;
  top: 50px;
  background-color: skyblue;

}

.st2 {
  border-top: none;
  border-right: none;
  position: relative;
  left: 1000px;
  top: 50px;
  padding: 10px;
}
